/* FONTS */
@font-face {
     font-family: 'Roboto';
     src: url('Roboto-Bold.woff2') format('woff2'),
          url('Roboto-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'Roboto';
     src: url('Roboto-Medium.woff2') format('woff2'),
          url('Roboto-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}

*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
     font-family: 'Roboto', sans-serif;
     background-color: #FFD845;
}

.container {
     width: 1358px;
     margin: 0 auto;
     padding: 0px 20px;
}